# PostgreSQL Database URL
DATABASE_URL="postgresql://user:password@localhost:5432/stocksense?schema=public"

# Auth JWT Secret Key
JWT_SECRET="stocksense-super-secure-production-modular-jwt-key-2026"

# Public App URL
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Node Environment
NODE_ENV="development"
